* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*UTILIZEN LA PALETA*/

:root {
    --font-size: 14px; /*Tamano de fuente para los parrafos*/
    --background: #ffffff;  /*Dondo general de la pagina*/
    --card: #ffffff; /*Fondo de tarjetas*/
    --primary: #030213; /*Titulos, encabezados*/
    --secondary: #f9fafb; /*Fondos suaves, seecciones claras*/ /*legacy: #f2f2f8*/
    --text: #252525; /*Texto*/
    --muted-foreground: #717182; /*Texto secundario o desactivado*/
    --accent: #e9ebef; /*Acentos, Detalles, bordes suaves*/
    --accent-foreground: #030213; /*Texto sobre acento*/
    --destructive: #d4183d; /*Botones de emergencia*/
    --destructive-foreground: #ffffff; /*Texto sobre botones rojos*/
    --border: rgba(0, 0, 0, 0.1); /*Bordes de tarjetas y/o divisores suaves*/
    --font-weight-medium: 500;
    --font-weight-normal: 400;
    --radius: 10px; /*Borde de tarjetas, botones.*/
}

h1 {
    font-weight: 800;
    font-size:xx-large;

}

a {
    text-decoration: none;
}

body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    font-size: 14px; 
}

#logo {
    margin-right: 1rem;
    height: 40px;
}

.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-nav a {
    text-decoration: none;
    color: var(--text);
    padding: 0.5rem;
    flex-wrap: wrap;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.header-buttons a {
    text-decoration: none;
    padding: 0.5rem;
    flex-wrap: wrap;
}

.header-live {
    border: 1.5px solid var(--accent);
    padding: 0.1rem;
    border-radius: 8px;
    
}

.header-live a{
    color: var(--primary);
    padding: 1em;
}

.header-emergency {
    display: flex;
    align-items: center;
    background-color: red;
    padding: 0.1em;
    border-radius: 8px;
}

.header-emergency a{
    color: var(--destructive-foreground);
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(./images/BomberosHero.JPG);
    width: 100vw;
    height: 500px;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding: 4rem;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    max-width: 900px;
    position: relative;
    z-index: 2;
}

.hero-title {
    display: block;
    text-align: left;
    justify-content: center;
    font-weight: bold;
}

.hero-details {
    display: flex;
    font-size: 14px;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.information {
    padding: 4rem;
    display: flex;
    text-align: left;
    justify-content: center;
}

.information-header {
    flex-direction: column;
    padding-right: 1rem;
    width: 500px;
}

.information-box {
    display: box;
    gap: 1rem;
}

.information-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    background-color: var(--secondary);
    padding: 1rem 3rem;
    margin-left: 150px;
}

.information-card p {
    font-size: 10px;
    white-space: nowrap;
}

/*SECCION NOTICIAS*/

.news-section {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-header {
    text-align: center;
    margin-bottom: 2rem;
}

.news-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    flex-wrap: wrap;
}

.news-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: nowrap;
}

.news-card {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 1rem;
    background-color: var(--card);
    border-radius: 10px;
}

.news-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.news-card:hover{
    box-shadow: 0px 0px 0px 8px var(--accent);
}
    
/*-------------------------*/

.specialties-section {
    padding: 4rem;
    background-color: var(--secondary);
}

.specialties-header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.specialties-grid article {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 2rem;
    justify-content: center;
}

.specialties-card {
    flex-direction: column;
    justify-content: center;
    background-color: var(--card);
    padding: 2rem;
    margin: 1rem;
    width: 400px;
    font-size: 12px;
    border-radius: 10px;
}

.specialties-card figcaption {
    padding-top: 1rem;
    text-align: justify;;
}

/*SECCION AUTORIDADES*/

.autorities-section {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding: 4rem;
}

.autorities-header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.autorities-layout {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: center;
}

.autorities-card {
    background-color: var(--card);
    display: flex;
    align-items: flex-end;
    width: 300px;
    height: 400px;
    margin: 1rem;
    border-radius: 10px;
}

/*--------------------*/

.material-section {
    background-color: var(--secondary);
    padding: 4rem;
    display: flex;
    flex-direction: column;
}

.material-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.material-layout {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.material-box {
    background-color: var(--card);
    width: 300px;
    height: 300px;
    margin: 1rem;
    border-radius: 10px;
}

.donation-section {
    padding: 4rem;
}







.security-section {
    padding: 4rem;
    background-color: #fef2f2;
}


.security-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.security-layout {
    margin-top: 2rem;
}

.security-content {
    background-color: var(--card);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.security-card-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.security-content p {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.security-section-footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 2rem;
    border: 2px solid ;
    border-radius: 10px;
}

.footer-section {
    padding: 2rem;
    background-color: #101828;
    color: #ffffff;
}