* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*UTILIZEN LA PALETA*/


:root {
    --font-size: 14px; /*Tamano de fuente para los parrafos*/
    --background: #ffffff;  /*Dondo general de la pagina*/
    --card: #ffffff; /*Fondo de tarjetas*/
    --primary: #030213; /*Titulos, encabezados*/
    --secondary: #f9fafb; /*Fondos suaves, seecciones claras*/ /*legacy: #f2f2f8*/
    --text: #252525; /*Texto*/
    --muted-foreground: #717182; /*Texto secundario o desactivado*/
    --accent: #e9ebef; /*Acentos, Detalles, bordes suaves*/
    --accent-foreground: #030213; /*Texto sobre acento*/
    --destructive: #d4183d; /*Botones de emergencia*/
    --destructive-foreground: #ffffff; /*Texto sobre botones rojos*/
    --border: rgba(0, 0, 0, 0.1); /*Bordes de tarjetas y/o divisores suaves*/
    --font-weight-medium: 500;
    --font-weight-normal: 400;
    --radius: 10px; /*Borde de tarjetas, botones.*/
}

a {
    text-decoration: none;
}

body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: var(--background);
    width: auto;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    overflow-x: hidden;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6)),
        url(./images/BomberosHero.JPG);
    width: auto;
    height: 600px;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding: 4rem;
    overflow: hidden;
    margin: auto;
}

/* .hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
} */

.hero-title {
    display: block;
    text-align: left;
    justify-content: center;
    font-weight: bold;
}

.hero-details {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    @media (max-width: 500px){
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.hero-card {
    text-align: center;
    max-width: 150px;
    padding-right: 2rem;
}

.information-section {
    padding: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.information-header {
    flex-direction: column;
    padding-right: 1rem;
}

.information-box {
    display: flex;
    flex-direction: column;
}

.information-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    background-color: var(--secondary);
    padding: 1rem 3rem;
    margin-bottom: 2rem;
    margin: 1rem;
}

.information-card p {
    font-size: 0.7rem;
    white-space: nowrap;
}

/*SECCION NOTICIAS*/

.news-section {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-header {
    text-align: center;
    margin-bottom: 2rem;
}

.news-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.news-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    height: auto;
    padding: 1rem;
    background-color: var(--card);
    border-radius: 10px;
}

.news-card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.news-card:hover{
    box-shadow: 0px 0px 0px 4px var(--accent);
}

.news-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

.news-content a {
    color: var(--primary);
}

.news-link {
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 0.5rem;
    text-align: center;
    font-weight: 500;
}

/*-------------------------*/

.specialties-section {
    padding: 4rem;
    background-color: var(--secondary);
}

.specialties-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}

.specialties-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    flex-wrap: wrap;
    color: #ffffff;
    
    article:nth-child(1) {
        background-image: 
            linear-gradient(rgba(0, 0, 0, 0.5)),
            url(./images/sections/specialties1.jpg);

        position: relative;
        background-position: center;
        background-size: cover;
        
    }

    article:nth-child(2) {
        background-image: 
            linear-gradient(rgba(0, 0, 0, 0.5)),
            url(./images/sections/specialties2.jpg);

        position: relative;
        background-position: center;
        background-size: cover;
    }

    article:nth-child(3) {
        background-image: 
            linear-gradient(rgba(0, 0, 0, 0.5)),
            url(./images/sections/specialties3.JPG);
        position: relative;
        background-position: center;
        background-size: cover;
    }
}

.specialties-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card);
    padding: 1.5rem;
    width: 450px;
    height: 400px;
    border-radius: 10px;
    flex: 0 1 auto;
    overflow: hidden;

    p {
        margin-top: 1rem;
        font-size: 0.9rem;
        line-height: 1.4;
    }
}

/*SECCION AUTORIDADES*/

.autorities-section {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding: 4rem;
}

.autorities-header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.autorities-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    color: #ffffff;

    a:nth-child(1) {
        background-image: 
            linear-gradient(rgba(0, 0, 0, 0.5)),
            url(./images/sections/autorities1.JPG);
        background-position: center;
        background-size: cover;
    }
    a:nth-child(2) {
        background-image: 
            linear-gradient(rgba(0, 0, 0, 0.5)),
            url(./images/sections/autorities2.JPG);
        background-position: center;
        background-size: cover;
    }
    a:nth-child(3) {
        background-image: 
            linear-gradient(rgba(0, 0, 0, 0.5)),
            url(./images/sections/autorities3.jpg);
        background-position: center;
        background-size: cover;
    }
    a {
        color: #fff;
    }
}

.autorities-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 0 1 auto;
    width: 450px;
    height: 400px;
    margin: 1rem;
    border-radius: 10px;
}

/*--------------------*/

.material-section {
    background-color: var(--secondary);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.material-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.material-layout {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.material-box {
    background-color: var(--card);
    width: 300px;
    height: 300px;
    margin: 2rem;
    border-radius: 10px;
}

.material-image {
    border-radius: inherit;
    overflow: hidden;

    img {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
    }
}

.donation-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    height: 400px;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7)),    
        url(./images/sections/donationbackground.JPG);
    position: relative;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}

.donation-section a {
    color: #ffffff;
}

.donation-layout {
    margin-top: 1rem;
    gap: 1rem;
}

.donation-button {
    border: 1px solid;
    border-radius: 5px;
    padding: 0.5rem;

}

.security-section {
    padding: 4rem;
    background-color: #fef2f2;
}


.security-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.security-layout {
    margin-top: 2rem;
}

.security-content {
    background-color: var(--card);
    margin-top: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
}

.security-card-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

.security-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.security-section-footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 2rem;
    border: 2px solid ;
    border-radius: 10px;

    .security-footer-content {
        padding: 0.5rem;
    }
}

/* Body Resposive media querys */
@media (max-width: 768px) {
    .news-card {
        width: 350px;
        height: auto;
    }

    .specialties-card {
        width: 350px;
        height: 300px;
    }

    .autorities-card {
        width: 350px;
        height: 300px;
    }

}