main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}